@font-face {
    font-family: 'Tinos';
    src: url('Tinos-Regular.woff2') format('woff2'),
        url('Tinos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

